<a href="https://colab.research.google.com/github/smccracken13/DataScienceCareerTrack/blob/main/SQL_tasks_tier1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
''' Welcome to the SQL mini project. You will carry out this project partly in
the PHPMyAdmin interface, and partly in Jupyter via a Python connection.
This is Tier 1 of the case study, which means that there'll be more guidance for you about how to 
setup your local SQLite connection in PART 2 of the case study. 
The questions in the case study are exactly the same as with Tier 2. 

PART 1: PHPMyAdmin
You will complete questions 1-9 below in the PHPMyAdmin interface. 
Log in by pasting the following URL into your browser, and
using the following Username and Password:
URL: https://sql.springboard.com/
Username: student
Password: learn_sql@springboard
The data you need is in the "country_club" database. This database
contains 3 tables:
    i) the "Bookings" table,
    ii) the "Facilities" table, and
    iii) the "Members" table.
In this case study, you'll be asked a series of questions. You can
solve them using the platform, but for the final deliverable,
paste the code for each solution into this script, and upload it
to your GitHub.
Before starting with the questions, feel free to take your time,
exploring the data, and getting acquainted with the 3 tables. '''

# PART 2: SQLite
# We now want you to jump over to a local instance of the database on your machine. 
# Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 
# Make sure that the SQLFiles folder containing these files is in your working directory, and
# that you have not changed the name of the .db file from 'sqlite\db\pythonsqlite'.
# You should see the output from the initial query 'SELECT * FROM FACILITIES'.
# Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
# to the PHPMyAdmin interface as and when you need to. 
# You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.

' Welcome to the SQL mini project. You will carry out this project partly in\nthe PHPMyAdmin interface, and partly in Jupyter via a Python connection.\nThis is Tier 1 of the case study, which means that there\'ll be more guidance for you about how to \nsetup your local SQLite connection in PART 2 of the case study. \nThe questions in the case study are exactly the same as with Tier 2. \nPART 1: PHPMyAdmin\nYou will complete questions 1-9 below in the PHPMyAdmin interface. \nLog in by pasting the following URL into your browser, and\nusing the following Username and Password:\nURL: https://sql.springboard.com/\nUsername: student\nPassword: learn_sql@springboard\nThe data you need is in the "country_club" database. This database\ncontains 3 tables:\n    i) the "Bookings" table,\n    ii) the "Facilities" table, and\n    iii) the "Members" table.\nIn this case study, you\'ll be asked a series of questions. You can\nsolve them using the platform, but for the final deliverable,\npaste the code for each solution into this script, and upload it\nto your GitHub.\nBefore starting with the questions, feel free to take your time,\nexploring the data, and getting acquainted with the 3 tables. '

In [5]:
# Q1: Some of the facilities charge a fee to members, but some do not.
# Write a SQL query to produce a list of the names of the facilities that do.
'''
SELECT name
FROM Facilities
WHERE membercost >0
ORDER BY membercost DESC;'''

'SELECT *\nFROM Facilities\nWHERE membercost >0\nORDER BY membercost DESC'

In [ ]:
# Q2: How many facilities do not charge a fee to members?
# Answer: 4
'''
SELECT COUNT(*) AS count_no_member_fee_facilities
FROM Facilities
WHERE membercost = 0;'''

In [1]:
# Q3: Write an SQL query to show a list of facilities that charge a fee to members,
# where the fee is less than 20% of the facility's monthly maintenance cost.
# Return the facid, facility name, member cost, and monthly maintenance of the
# facilities in question.
'''
SELECT facid, name, membercost, monthlymaintenance
FROM Facilities
WHERE (membercost < 0.2*monthlymaintenance) AND (membercost>0);'''

'\nSELECT facid, name, membercost, monthlymaintenance\nFROM Facilities\nWHERE (membercost < 0.2*monthlymaintenance) AND (membercost>0);'

In [ ]:
# Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
# Try writing the query without using the OR operator.
'''
SELECT *
FROM Facilities
WHERE facid IN (1,5);'''

In [ ]:
# Q5: Produce a list of facilities, with each labelled as cheap' or 'expensive',
# depending on if their monthly maintenance cost is more than $100.
# Return the name and monthly maintenance of the facilities in question.
'''
SELECT name, monthlymaintenance,
CASE WHEN monthlymaintenance >100 THEN 'expensive'
ELSE 'cheap'
END
AS cheap_or_expensive
FROM Facilities'''

In [ ]:
# Q6: You'd like to get the first and last name of the last member(s)who signed up.
# Try not to use the LIMIT clause for your solution.
'''
SELECT firstname, surname
FROM Members
ORDER BY joindate DESC;'''

In [ ]:
# Q7: Produce a list of all members who have used a tennis court.
# Include in your output the name of the court, and the name of the member
# formatted as a single column.
# Ensure no duplicate data, and order by the member name.
'''
SELECT DISTINCT
CASE WHEN facid = 0 THEN 'Tennis Court 1'
WHEN facid = 1 THEN 'Tennis Court 2'
ELSE 'not a tennis court' END
AS court,
CONCAT(firstname, ' ', surname) AS member
FROM Bookings
INNER JOIN Members
ON Bookings.memid = Members.memid
AND Bookings.facid IN (0,1)
AND Bookings.memid != 0
ORDER BY member, court;'''

In [ ]:
# Q8: Produce a list of bookings on the day of 2012-09-14 which
# will cost the member (or guest) more than $30.
# Remember that guests have different costs to members,
# (the listed costs are per half-hour 'slot'),
# and the guest user's ID is always 0.
# Include in your output the facility, member name(single column), and the cost.
# Order by descending cost, and do not use any subqueries.
'''
SELECT Facilities.name AS facility, CONCAT(firstname, ' ', surname) AS member,
CASE WHEN Bookings.memid = 0 THEN guestcost*slots
ELSE membercost*slots END AS cost
FROM Facilities
INNER JOIN Bookings
ON Bookings.facid = Facilities.facid
AND Bookings.starttime LIKE "2012-09-14%"
INNER JOIN Members
ON Members.memid = Bookings.memid
HAVING cost>30
ORDER BY cost DESC;'''

In [ ]:
# Q9: This time, produce the same result as in Q8, but using a subquery.
'''
SELECT facility, member, cost
FROM
(SELECT f.name AS facility, CONCAT(firstname, ' ', surname) AS member,
CASE WHEN b.memid = 0 THEN guestcost*slots
ELSE membercost*slots END AS cost
FROM Facilities AS f
INNER JOIN Bookings AS b
ON b.facid = f.facid
AND b.starttime LIKE "2012-09-14%"
INNER JOIN Members AS m
ON m.memid = b.memid) AS subtable
WHERE cost>30
ORDER BY cost DESC;'''

In [ ]:
from types import MemberDescriptorType
# Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue.
#Remember that there's a different cost for guests and members!
'''
SELECT facility, SUM(revenue) AS total_revenue
FROM
(SELECT Facilities.name AS facility,
CASE WHEN Bookings.memid = 0 THEN guestcost*slots
ELSE membercost*slots END AS revenue
FROM Facilities
INNER JOIN Bookings
ON Bookings.facid = Facilities.facid
INNER JOIN Members
ON Members.memid = Bookings.memid) AS revenue_table
GROUP BY facility
HAVING total_revenue<1000
ORDER BY total_revenue DESC;'''

In [ ]:
# Q11: Produce a report of members and who recommended them
# in alphabetic surname,firstname order.
'''
SELECT member,
CASE WHEN recommendedby = "GUEST, GUEST" THEN "no recommender"
ELSE recommendedby END
FROM (SELECT CONCAT(m1.surname, ', ', m1.firstname) AS member,
CONCAT(m2.surname, ', ', m2.firstname) AS recommendedby
FROM Members AS m1
INNER JOIN Members AS m2
ON m1.recommendedby = m2.memid) AS subtable
ORDER BY member;'''

In [ ]:
# Q12: Find the facilities with their usage by member, but not guests.
'''
SELECT facility, SUM(uses) AS total_uses
FROM (
SELECT Facilities.name AS facility, CASE WHEN memid>0 THEN slots END AS uses
FROM Bookings
INNER JOIN Facilities
ON Facilities.facid = Bookings.facid
) AS subtable
GROUP BY facility
ORDER BY total_uses DESC;'''

In [ ]:
# Q13: Find the facilities usage by month, but not guests
'''
SELECT facility, month, SUM(uses) AS total_uses
FROM (
SELECT Facilities.name AS facility, MONTH(starttime) AS month, CASE WHEN memid>0 THEN slots END AS uses
FROM Bookings
INNER JOIN Facilities
ON Facilities.facid = Bookings.facid
) AS subtable
GROUP BY facility, month
ORDER BY month, total_uses DESC;'''